<div class="jumbotron">
    <h1>Avertissement concernant les données personnelles</h1>
    <p>Dans le cadre de l'utilisation de cette application, des données personnelles sont utilisées. Celles-ci sont :</p>
    <ul>
        <li>Le nom et le prénom sont utilisés afin de pouvoir identifier les utilisateurs et de pouvoir s'assurer des .</li>
        <li></li>
        <li></li>
    </ul>
</div>