<h1>Bonjour !</h1>

<p>
    Pour réinitialiser votre mot de passe, veuillez cliquer sur ce
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">lien</a>.
    Celui-ci expirera dans {{ tokenLifetime|date('g') }} heure(s).
</p>

<p>
    Bonne journée !
</p>