{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container jumbotron">
        <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="mb-2">
            <small>
                Un mail contenant les informations nécessaires pour réinitialiser votre mot de passe va être envoyé à l'adresse mail indiquée.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer l'email</button>
        {{ form_end(requestForm) }}
    </div>

{% endblock %}