{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form(resetForm) }}
{% endblock %}
