.cours {
    background-color: #e0e0e0;
    border: white 1px solid;
    border-radius: 7px;
    overflow: hidden;
}
.heure{
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: #e5e5e5;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.colonne_heure {
    width: 4%;
    /*border-bottom: 1px black solid;*/
}
.jour {
    width: 16%;
    border-left: 2px solid white;
    text-align: center;
    text-transform: uppercase;
    /*padding-left: 1em;*/
}
.colonne_jour {
    border-left: 2px solid white;
    /*border-top: 1px solid black;*/
}
.lundi, .mercredi, .vendredi {
    background-color: #a7abbb;
}
.mardi, .jeudi, .samedi {
    background-color: #8ea8bb;
}
.cours_head {
    display: flex;
    /*justify-content: space-between;*/
}
/*.titre_edt {*/
/*    text-align: center;*/
/*}*/
.semaine_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.semaine_btn > button {
    margin-left: 0.5em;
}