{% extends 'base.html.twig' %}
{% block title 'Utilisateurs' %}
{% block body %}
    <form method="POST" action="{{ path('utilisateurs.add') }}">
        <select id="util_select" name="typeUtil">
            <option value="Eleves">Eleves</option>
            <option value="Professeurs">Professeurs</option>
            <option value="Personnels">Personnels</option>
        </select>

        <input type="submit" value="Ajouter">
        <select id="limit" name="limit">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
        </select>
        <button type="button" id="offsetMoins"><</button>
        <button type="button" id="offsetPlus">></button>
    </form>
    <div id="ajax_results"></div>
    <div id="modalModif"></div>
{% endblock %}
{% block javascripts %}
    <script>
        let select = $('#util_select');
        let div = $('#ajax_results');
        let plus = $('#offsetPlus');
        let moins = $('#offsetMoins');
        let limit = $('#limit');

        let offset = 0;

        $(moins).click(function () {
            offset -= 1;
            if (offset < 0){
                offset = 0;
            } else {
                AJAX();
            }
        })

        $(plus).click(function () {
            offset += 1;
            AJAX();
        })

        $(select).change(function () {
            AJAX();
        })
        $(limit).change(function () {
            AJAX();
        })
        $(document).ready(function () {
            AJAX();
        })

        function AJAX() {
            let user = select.children('option:selected').val();

            $.ajax({
                url: "{{ path('utilisateurs.ajax') }}",
                method: "GET",
                data: {user: user, limit: limit.val(), offset: offset}
            }).done(function (msg) {
                div.html(msg);
            })
        }
    </script>
{% endblock %}