<h1>Bonjour {{ nom ~ ' ' ~ prenom }}!</h1>

<p>
    {{ token }}
    Pour activer votre compte sur Classe Virtuelle, veuillez suivre ce <a href="{{ path('account.change', {'email': address, 'token': token}) }}">lien</a>.

</p>