#liste-details {
    margin-top: 2em;
    padding: 1em;
}
#liste-details .list-group-item {
    transition-property: background-color;
    transition-duration: 0.3s;
}
#liste-details .list-group-item:hover {
    background-color: #509cff;
    color: white;
}
#importRow, #liste-details, #purgeRow {
    border: 1px solid #8b8b8b;
}
.titre-details-compte, .titre-import, .titre-purge {
    display: inline;
    position: relative;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: white;
}
.titre-details-compte{
    top: -1.9em;
}
.titre-import{
    top: -0.9em;
}
.titre-purge{
    top: -0.9em;
}
#reglages {
    margin: 1em;
}
#importSelectType{
    margin-top: 2em;
}
.custom-file-input ~ .custom-file-label::after {
    display: none;
}
.border-bottom{
    margin: 2em;
    border-bottom: 1px solid black;
}
