{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="">
{% endblock %}
{% block title 'Emploi du temps' %}

{% block body %}
    {% set role = app.session.get('role') %}
    <div id="calendrier">
    </div>
    <div>
        <button type="button" id="dateMoins">Semaine précédente</button>
        <button type="button" id="datePlus">Semaine suivante</button>
    </div>
    {% if role == 'ROLE_PROF' %}
        <form action="{{ path('cours.add') }}" method="post">
            <button type="submit" name="ajouter">Ajouter un cours</button>
        </form>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script>
        let div = $('#calendrier');
        let plus = $('#datePlus');
        let moins = $('#dateMoins');
        let date = startOfWeek(new Date);
        date.setHours({{ start_hour }}, 0, 0, 0);
        date = Date.parse(date);

        $(moins).click(function () {
            date -= 7*24*60*60*1000;
            AJAX();
        })
        $(plus).click(function () {
            date += 7*24*60*60*1000;
            AJAX();
        })
        $(document).ready(function () {
            AJAX();
        })

        function AJAX() {
            $.ajax({
                url: "{{ path('cours.ajax') }}",
                method: "GET",
                data: {date: date / 1000}
            }).done(function (msg) {
                div.html(msg);

            })
        }

        function startOfWeek(date)
        {
            let diff = date.getDate() - date.getDay() + (date.getDay() === 0 ? -6 : 1);
            return new Date(date.setDate(diff));
        }
    </script>
{% endblock %}